.widget {
    flex: 0.2;
    background-color: #fff;
    border-radius: 10px;
    border: 0.1px solid lightgray;
    padding-bottom: 10px;
    position: sticky;
    top: 80px;
    height: fit-content;
}

.widget__header {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.widget__header>h2 {
    font-size: 16px;
    font-weight: 400;
}

.widget__article {
    display: flex;
    padding: 10px;
    cursor: pointer;
}

.widget__article:hover {
    background-color: whitesmoke;
}

.widget__article__left {
    color: #0177b7;
    margin-right: 5px;
}

.widget__article__left>.MuiSvgIcon-root {
    font-size: 15px;
}

.widget__article__right {
    flex: 1;
}

.widget__article__right>h4 {
    font-size: 14px;
}

.widget__article__right>p {
    font-size: 12px;
    color: gray;
}